scripts_*
backup_exp/
experiments/reports/
experiments/perfs_results/
experiments/pareto/
experiments/pareto_*
experiments/plotting_scripts/
data_prep/
data/adult/rules_old.py
data/compas/rules_old.py
data/compas_laftr/
scripts/old/
scripts/serial/
scripts/adult.sh
scripts/expe_fast.sh
push.sh
get_result.sh
experiments/kfold_bench.py
experiments/results
experiments/results_*
experiments/slurm*
experiments/core.*
experiments/plotting_scripts/data/
experiments/plotting_scripts/graphs/
*.o
*.pyc
*.swp
*.so
*~
build/
dist/
faircorels.egg-info/
__pycache__/
*.pyd
MANIFEST
tests/model
valgrind-python.supp
.tox/
.eggs/
tox.ini
upload.sh
env.sh
env/
*.vscode
