include LICENSE
include faircorels/README.md
include faircorels/_corels.cpp
include faircorels/*.py
include faircorels/src/utils*
include faircorels/src/corels/src/*.hh
include faircorels/src/corels/src/*.cpp
include faircorels/src/corels/src/*.hpp
include faircorels/_corels.pyx

